<link rel="stylesheet" href="/stylesheets/company/company-profile.css">
<div class="main">
    <div class="image">
        {{#if company.additionalInfo}}
        <img src="/images/company/profile/{{company._id}}.jpg">
        {{else}}
        <img src="/images/company/profile/no_company.jpg">
        {{/if}}
    </div>
    <div class="name">
        <h1>{{company.companyname}}</h1>  
        </div>
<div class="data">
<p id="email">{{company.email}}</p>
<p>{{company.number}}</p>
<p>{{company.personname}}</p>
<p>{{company.industryType}}</p>
<p>{{company.description}}</p>
<p>{{company.area}}</p>
<p>{{company.address}}</p>

<button><a href="/company/updatecompany">update</a></button>

</div>
</div>
