<link rel="stylesheet" href="/stylesheets/company/update-company.css" />
<form action="/company/updatecompany" method="post" enctype="multipart/form-data">
    <h1 class="heading">update profile</h1>

  <div class="main">
    <div class="first">
    <input
      type="text"
      name="companyname"
      placeholder="companyname"
      class="compname"
      value="{{company.companyname}}"
     required/><br /><br />
    <input type="email" name="email" placeholder="official email" value="{{company.email}}" required/><br /><br />
    <input
      type="number"
      name="number"
      placeholder="mobile number"
     value="{{company.number}}"
     required
    /><br /><br />
    <input
      type="text"
      name="personname"
      placeholder="contact person's name"
      value="{{company.personname}}"
      required
    /><br /><br />
    <select name="industryType" required>
      <option value=" ">industry type</option>
      <option selected>accounting/finance</option>
      <option>agriculure/dairy</option>
      <option>hotels/travel</option>
      <option>recruitment</option>
      <option>export/import</option></select
    ><br /><br />
    </div>
    <div class="second">
    <h5>additional info</h5>
    <textarea name="description" id="description" placeholder="description"
      required>{{company.description}}</textarea><br><br>
 <input
      type="text"
      name="area"
      placeholder="area"
      value="{{company.area}}"
   required /><br /><br />
    <input
      type="text"
      name="address"
      placeholder="address"
      value="{{company.address}}"
     required  /><br /><br />
     <input type="file" name="image"  required><br><br>
     </div>
  </div>
    <button type="submit">update</button>

</form>





