 <link rel="stylesheet" href="/stylesheets/userupdate.css">
        <form action="/update" method="post" enctype="multipart/form-data">
        <h1 class="heading">update profile</h1>
 <div class="main">
<div class="first">
          <input type="text" name="username"  placeholder="username"  id="username" value="{{user.username}}" required/><br /><br /> 
         <input type="text" name="address" placeholder="address" id="address" value="{{user.address}}" required><br><br>
          <input type="email" name="email" placeholder="email" id="email" value="{{user.email}}" required/><br /><br />
         <input type="number" name="number" placeholder="mobile number" id="number" value="{{user.number}}" required><br><br>
         <select name="workStatus" required>
          <option value="">Work Status</option>
          <option selected>fresher</option>
          <option >experienced</option>
          </select><br><br>
          </div>
          <div class="second">
          <h5>additional info</h5>
         <input type="text" name="skills" placeholder="skills" id="skills" value="{{user.skills}}" required><br><br>
         <input type="text" name="education" placeholder="education" id="education" value="{{user.education}}" required><br><br>
         <input type="file" name="image"  required><br><br>
         <input type="file" name="resume"  required><br><br>
          </div>
      </div>
          <button type="submit">update</button>

        </form>
